<h1>Easily register in our platform</h1>
<p>Fill the following form to register to the platform.</p>
<div>
    <form action="/sign-up" method="post">
    <label for="input-name">Username:</label>
    <input type="text" name="username" id="input-name" placeholder="Your name" />

    <label for="input-password">Password</label>
    <input type="password" name="password" id="input-password" placeholder="Create password" />

    <button type="submit">Sign-up!</button>

    </form>


</div>